header.header {
    background: no-repeat left/cover url(foto11.jpg);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: rgb(15, 62, 150);
    text-shadow: #000 0 0 .2em;
}