.header {
    background: rgb(8, 134, 113);
    display: block;
    height: 120px;
    width: 100%;
    align-items: center;
    color: rgb(15, 62, 150);
    text-shadow: #000 0 0 .2em;
}

.main {
    background: rgb(189, 216, 199);
    display: block;
    height: 1000px;
    width: 100%;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: #000 0 0 .2em;
}

.footer {
    background: rgb(26, 124, 95);
    display: block;
    height: 120px;
    width: 100%;
    align-items: center;
    color: rgb(0, 1, 3);
    text-shadow: #000 0 0 .2em;
}