.page-header {
    background: no-repeat left/cover url(foto11.jpg);
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    color: rgb(15, 62, 150);
    text-shadow: #000 0 0 .2em;
}

.main {
    background: yellow;
    display: flex;
    height: 1000px;
    width: 100%;
    align-items: center;
    color: rgb(0, 0, 0);
    text-shadow: #000 0 0 .2em;
}

.footer {
    background: green;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    color: rgb(0, 1, 3);
    text-shadow: #000 0 0 .2em;
}